@import './common/var.scss';
.an-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: 44px;
  margin: 0;
  padding: 0;
  font-size: $font-size-large;
  line-height: 1.2;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: $black;
    border: inherit;
    border-color: $black;
    border-radius: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0;
    content: ' ';
  }
  // 色彩
  &--default {
    color: #323233;
    border: 1px solid $gray-3;
    background-color: $white;
  }

  &--primary {
    color: $white;
    border: 1px solid $green;
    background-color: $green;
  }
  &--info {
    color: $white;
    border: 1px solid $blue;
    background-color: $blue;
  }
  &--waiting {
    color: $white;
    border: 1px solid $gray-4;
    background-color: $gray-4;
  }
  &--danger {
    color: $white;
    background-color: $red;
    border: 1px solid $red;
  }
  &--warning {
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
  }

  // 大小
  &--normal {
    padding: 0 15px;
    font-size: $font-size-normal;
  }
  &--large {
    width: 100%;
    height: 50px;
  }
  &--small {
    height: 32px;
    padding: 0 8px;
    font-size: $font-size-small;
  }
  &--mini {
    height: 24px;
    padding: 0 4px;
    font-size: $font-size-mini;
  }
  // 朴素按钮
  &--plain {
    background-color: $white;
    &.an-button--primary {
      color: $green;
    }
    &.an-button--info {
      color: $blue;
    }
    &.an-button--waiting {
      color: $gray-4;
    }
    &.an-button--warning {
      color: $orange;
    }
    &.an-button--danger {
      color: $red;
    }
  }
  // 块级按钮
  &--block {
    display: block;
    width: 100%;
  }
  // 方形
  &--square {
    border-radius: 0;
  }
  // 圆形
  &--round {
    border-radius: 999px;
  }
  // 禁用按钮
  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}




