// color变量
$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dedede;
$red: #ee0a24;
$blue: #1571d8;
$orange: #ff976a;
$green: #07c160;

// font相关变量
$font-size-mini: 10px;
$font-size-small: 12px;
$font-size-normal: 14px;
$font-size-large: 16px;

// Animation
$animation-duration-base: 0.3s;
$animation-duration-fast: 0.2s;
$animation-timing-function-enter: ease-out;
$animation-timing-function-leave: ease-in;
